:root{
    --main-color: salmon;
    --text-color: rgb(77, 8, 0);

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(238,238,238);
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Festive', cursive;
    font-size: 2.2rem;
}

header{
    width: 100%;
    height: 70px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
}

header #logo{
    margin: 10px;
    margin-left: 10%;
    width: 200px;
}

header nav{
    margin: 10px;
    margin-right: 10%;
    width: 600px;
}

header #menuMovil{
    display: none;
}

header nav ul li{
    float: left;
    list-style: none;
    margin-left: 30px;
    margin-top: 5px;
    padding: 5px;
    transition: 0.5s ease-in-all;
}

header nav ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

header nav ul li:hover{
    opacity: 0.8;
    background-color: white;
    border-radius: 5px;
}

header nav ul li a:hover{
    color: var(--main-color);
}

section #main{
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#main video{
    min-width: 100%;
    min-height: 100%;
}


#main #overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    /*background-image: url(../img/patron2.png);*/
    /*background-repeat: repeat;*/
    position: absolute;
    top: 0px;
    left:0;
    z-index: 3;
    /*opacity:0.2;*/
}

#main #overlay h2{
    margin-top: 300px;
    color: white;
    text-align: center;
    font-size: 6rem;
    opacity: 1;
    font-family: 'Festive', cursive;
}

#main #overlay h3{
    text-align: center;
    color:white;
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;
}

.btn{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding:15px;
    font-size: 1rem;
    font-weight: lighter;
}

.btnPrimary{
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    padding-left: 2;
    transition: 0.5s ease-in-all;
}

.btnPrimary:hover{
    opacity: 0.8;
    background-color: white;
    color: var(--main-color);
}

a.btn{
    text-decoration: none;
    color: white;
}

#about, #contacto, #portafolio{
    background-color: rgb(245, 225, 223);
    width: 80%;
    min-height: 600px;
    padding-left: 10%;
    padding-right: 10%;
}

#about .col, #contacto .col{
    float: left;
    width: 50%;
    text-align: justify;
}

#about > h2{
    font-family: 'Festive', cursive;
    text-align: center;
    font-size: 3rem;
    padding-top: 30px;
}

#about > .col >h2{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about .col img{
    width: 70%;
    display: block;
    margin: 20px auto;
    border-radius: 30px;
}

#about .col p{
    margin-top: 30px;
}

#frase{
    background-color: var(--main-color);
    width: 100%;
    height: 250px;
}

#frase p{
    text-align: center;
    font-family: 'Festive', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
}

#contacto iframe{
    padding-top: 50px;
}

#contacto .col{
    padding-top: 50px;
}

#contacto p{
    margin-top: 10px;
    margin-bottom: 10px;
}

#contacto input, #contacto textarea{
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    width: 70%;
    font-size: 1rem;
}

#contacto textarea{
    height: 100px;
    resize: none;
}

fieldset {
    border: 0px;
}

footer{
    background-color: var(--main-color);
    width: 100%;
    height: 80px;
    padding-top: 20px;
}

footer p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

#portafolio{
    height: 520px;
}

#portafolio .caja{
    border-radius: 30px;
    float: left;
    width: 23.3%;
    height: 340px;
    background-color: white;
    margin: 0.5%;
    text-align: center;
}

.caja img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}

.caja h3{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.caja p{
    margin: 10px;
    font-size: .8rem;
}